/* customAccordionInformation.css */
.custom-accordion:before {
    background-color: rgba(0,0,0,0) !important   ; 
}

.wrapperOfAccordion {
    margin: auto;
    position: absolute;
}

.custom-accordion {
    position: absolute !important;    
    top: -30vh !important;
    left: 330px !important;
    width: 400px !important;
    margin-top: 0px !important;
    border-radius: 20px !important;
}